<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
    
      <title>Pet_Caring</title>
    
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Peronsal CSS Stylesheet-->
    <link rel="stylesheet" href="stylesheets/style.css">
      
    </head>
  <body>
    <%- include navbar.ejs %>

    <!-- Introduction to the User guide-->
      <header class="masthead bg-primary text-white text-center">
        <div class="container">
          <img class="img-fluid mb-5 d-block mx-auto" src="images/cute_golden.jpeg" alt="">
          <h1 class="text-uppercase mb-0">Pet Caring</h1>
          <hr class="star-light">
          <h2 class="font-weight-light mb-0">The go-to application for pet caring</h2>
        </div>
      </header>

      <section class=" bg-white text-black mb-0" id="about">
        <div class="container">
          <h2 class="text-center text-uppercase text-black">About</h2>
          <hr class="star-light mb-5">
          <div class="row">
            <div class="col-lg-4 ml-auto">
              <p>Pet Caring is an application to pair owners who are looking for someone to watch
                over their beloved pets with a caretaker. One of the core functionalities that seperates
                this application over other competitors is the fact we allow for owners to big on caretakers
                to get the lowest price. </p>
            </div>
            <div class="col-lg-4 mr-auto">
              <p>Pet Caring is an application built upon Node.js, SQl, CSS, and HTML. The underlying functionalities
                of the application allow any user to register themselves to navigate all given users.
              </p>
            </div>
          </div>
          </div>
        </div>
      </section>
      <hr style="height:6px;border:none;color:#333;background-color:#333;" />

      <section>
        <h2 class="text-center mb-4 text-uppercase text-black">Services</h2>
        <div class="container-fluid justify-content-center">
          <div class="row">
            <div class="col-lg-6 ">
              <div class="card">
                <div class="card-header d-flex justify-content-center"><a href="/getlist">Find Sitting Services</a></div>
                <img class="card-img-top text-center" src="dog_icon.png" style="height:50%; width:50%" alt="Card image cap">
              </div>
            </div>
            <div class="col-lg-6 ">
              <div class="card text-center">
                <div class="card-header d-flex justify-content-center"><a href="/findsitter">Dashboard</a></div>
                <img class="card-img-top " src="user_icon.png" style="height:50%; width:50%" alt="Card image cap">
          
              </div>
            </div>
        </div>
      </section>
      

      <footer class="footer bg-dark">
        <div class="container">
          <span class="text-muted"></span>
        </div>
      </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
