<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
    <a class="navbar-brand mr-2 pr-2 " href="/"><img src="dog_icon.png" alt="" width="32" height="32" />&nbsp;&nbsp;Pet_Caring
        World</a>
    <!-- Navbar Items -->
    <ul class= "navbar-nav ml-auto">
        <li class="nav-item active ">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ml-auto">
            <a class="nav-link" href="login">Sign Up/Login</a>
        </li>
        <li class="nav-item ml-auto">
            <a class="nav-link" href="logout">Logout</a>
        </li>
    </ul>

    <!-- Navbar check for user login-->
</nav>