body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.jumbotron-3 {
        position: relative;
        background: url("/images/make-money-as-a-dog-walker.jpg") center center;
        width: 100%;
        height: 100%;
        background-size: cover;
}
